option_settings:
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current"
  aws:elasticbeanstalk:container:python:
    WSGIPath: application.py
  aws:elasticbeanstalk:command:
    deployment:
      leader_only: true
      timeout: 600
      ignoreErrors: false
      cwd: "/var/app/current"
      command: "python3.11 application.py"
